@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


* {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
  
  html,
  body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
  }

  .main-headings {
    font-size: 1.5rem;
    font-weight: 400;
    padding-block: 5rem 2rem;
    border-bottom: 1px solid rgb(227, 227, 227);
  }

  .backdrop {
    
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(72, 71, 71, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;
  }

   header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 8px rgb(180, 180, 180);
    z-index: 1;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    background-color: white;
  }

  .main-header {
    font-weight: 400;
    color: black;
    padding: 0.5rem 1rem;
    letter-spacing: 3px;
    margin-inline: 1rem;
  }



  .toggle-button {
    height: 100%;
    width: 3rem;
    background: transparent;
    border: none;
    margin-inline: 1rem;
    cursor: pointer;
  }

  .main-header:hover,
  .toggle-button:hover {
    background-color: rgb(203, 203, 203);
  }

  .toggle-button__bar {
    display: block;
    border-radius: 50px;
    background-color: black;
    width: 1rem;
    height: 0.15rem;
    margin: 0.15rem auto;
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(10, 10, 10);
    display: none;
    flex-direction: column;
    height: 100%;
    width: auto;
    z-index: 10;
  }

  .mobile-nav__item {
    font-weight: 300;
    font-size: 1.15rem;
    color: white;
    padding-block: 1rem;
    list-style: none;
  }

  .mobile-nav__item a{
    color: white;
    text-align: center;
    text-decoration: none;
  }

  .mobile-nav__item:hover {
    background-color: rgb(255, 245, 229);
    color: black;
  }
  
  .main-nav {
    display: none;
  }



  /* ?Main section */
    main {
      margin-top: 3rem;
    }

    .main-section {
      position: relative;
      letter-spacing: 3px;
    }

    .main-section__image {
      width: 96%;
      margin:  0 2rem;
    }

    .main-section h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .main-section__heading-one{
      font-size: 2.15rem;
      color: rgb(254, 254, 254);
      font-weight: 500;
      padding-inline: 1rem;
      background-color: rgb(0, 0, 0, 0.5);
    }

    .main-section__heading-two {
      display: none;
    }


    /* ? Project Section ?*/
    .project-section {
      margin-inline: 2rem;

    }

    .project-section__heading {
      text-decoration: none;
      padding: 0.2rem 1rem;
      margin-bottom: 5px;
    }

    .underline {
      width: 98%;
      height: 1px;
      background-color: #6f6d6d; /* black line */
      margin: 20px 30px 20px 15px;
    }
    
    .project-section__projects {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-inline: 1rem;
    }

    .project-section__project {
      position: relative;
    }

    .project-section__project-image {
      width: 100%;
    }

    .image-name {
      color: white;
      background-color: black;
      font-size: 14px;
      padding: 12px;
      position: absolute;
      top: 0;
      left: 0;
    }

    /* ? About section ? */
    .about-section {
      margin-inline: 2rem;
    }

    .about-section__para {
      width: 98%;
      left: 15px;
      padding-top: 1rem;
      font-weight: 300;
    }

    .about-section__teams {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 2rem;
    }

    .about-section__team {
      box-shadow: 0px 0px 10px rgb(172, 172, 172);
      margin-bottom: 1rem;
    }

    .about-section__team-image {
      width: 100%;
    }

    .about-section__team-name {
      padding: 0.5rem 1rem;
      font-weight: 300;
      font-size: 1.4rem;
    }

    .about-section__team-position {
      padding: 0.5rem 1rem;
      font-weight: 500;
      font-size: 1rem;
      color: #979393;
    }

    .about-section__team-description {
      padding: 0.5rem 1rem;
      font-weight: 300;
      font-size: 0.8rem;
    }

    .about-section__team-contact {
      padding: 0.5rem 1rem;
    }

    .about-section__team-contact-button {
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
      width: 100%;
      border: none;
    }

    .about-section__team-contact-button:hover {
      background-color: rgb(182, 182, 182);
    }
    

    /* ? Contact Section ? */
    .contact-section {
      margin-inline: 2rem;
    }

    .contact-section__description {
      padding: 1rem;
    }

    .contact-section__form input {
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
      border-color: #979393;
      border: 3px;
      border-style: solid;
      border-radius: 5px;
    }

    .contact-section__form input:hover {
      border-color: rgb(135, 135, 227);
      outline: none;
    }

    .contact-section__submit-btn {
      padding: 1rem 2rem;
      border: none;
      color: white;
      background-color: black;
      margin-top: 1rem;
      cursor: pointer;
    }

    .contact-section__image {
      left: 5px;
      width: 100%;
      margin-block: 2rem;
    }

    /* ? Footer Section ? */
    .footer-section {
      width: 100%;
      /* height: 40px; */
      background-color: black;
      color: white;
      text-align: center;
      padding: 1rem 0;
      box-sizing: border-box;
    }

    .footer-section a {
      color: white;
      text-decoration: none;
    }


  /* ? Desktop Code */
  @media (min-width:38rem) {

    .toggle-button {
      display: none;
    }

    .main-nav {
      display:flex;
      margin-inline: 1rem;
    }

    .main-nav__items {
      display: flex;
    }

    .main-nav__item {
      font-weight: 400;
      list-style: none; 
      /* margin: 0; */
      padding: 0.5rem 1rem;
      /* display: flex; */
      /* height: 100%; */
      letter-spacing: 3px;
    }

    .main-nav__item a{
      color: black;
      text-decoration: none;
    }

    .main-nav__item:hover {
      background-color: rgb(189, 189, 189);
    }

    .main-section__heading-two {
      display: inline;
      color: rgb(249, 246, 246);
      font-weight: 400;
      font-size: 2rem;
      
    }

    .project-section__projects {
      flex-flow: row wrap;
    }

    .project-section__project {
      width: calc(50% - 8px);
    }

    .about-section__teams {
      flex-flow: row wrap;
    }

    .about-section__team{
      width: calc(50% - 0.5rem);
    }
  }


    @media (min-width:64rem) {
      .project-section__project  {
        width: calc(25% - 8px);
      }

      .about-section__team {
        width: calc(25% - 0.5rem);
      }
    }
  